@import "../_config/variables";

// Theme

$theme-colors: (
"primary": $PrimaryColor,
"secondary": $SecondaryColor,
"dark": $DarkColor,
"light": $LightColor
);

// Texts

$yiq-text-dark: $DarkColor;
$yiq-text-light: $LightColor;

// Links

$link-color: $LightColor;

// Cards

$card-cap-bg: rgba(#000, .14);
$card-bg: $SecondaryColor;

// Inputs

$input-bg: $SecondaryColor;
$input-color: $LightColor;

@import "../../../node_modules/bootstrap/scss/bootstrap";

.navbar-toggler-icon {
    color: $DarkColor;
}
