@import "_config/variables";

@import "_global/bootstrap-custom";

body {
    background-color: $BackgroundColor;
    color: $LightColor;
    -webkit-font-smoothing: antialiased;
}

hr {
    border-top: 1px solid rgba($LightColor, 0.4);
}
