<template>
    <b-container id="viewContainer">
        <h1>About</h1>
        <p>This app is an unofficial client for retrieving and viewing data from the distributed ambient radioactivity monitoring service provided by GQ Electronics LLC.</p>
        <hr />
        <h2>Some links</h2>
        <a href="https://gmcmap.com">
            <b-button variant="primary">GMC Map</b-button>
        </a>
        <span class="ml-1">← ☢️ Check out the official website.</span>
        <br />
        <br />
        <a href="https://codeberg.org/fmac/cordova-gmcmap/issues">
            <b-button variant="danger">Issues</b-button>
        </a>
        <span class="ml-2">← 🐛 Found a bug? Report it!</span>
        <hr />
        <h2>Contacts</h2>
        <p>If you ever need to contact me you find me at these addresses.</p>
        <p>
            <b>⊞ Matrix</b>
            <br />
            <a href="https://matrix.to/#/@fmac:matrix.org">@fmac:matrix.org</a>
        </p>
        <div>
            <b>✉️ email</b>
            <br />
            <a href="mailto:dev@fmac.xyz">dev@fmac.xyz</a>
            <b-button v-b-toggle.pgp-collapse class="ml-2" size="sm" variant="info">PGP 🔑</b-button>
            <b-collapse id="pgp-collapse" class="mt-2">
                <b-card bg-variant="info" class="pgp-key-card">
                    <p
                        class="card-text"
                    >publickey.dev@fmac.xyz-649f92de0c8844daa2e810f9ae1decb015840408.asc</p>
                    <pre class="card-text">
-----BEGIN PGP PUBLIC KEY BLOCK-----
Version: OpenPGP.js v4.10.1
Comment: https://openpgpjs.org

xjMEXp8/XxYJKwYBBAHaRw8BAQdA1VhI8/mwVwmu/WjvGPzqVt4T9OuIV+oF
E5EkumQbpIXNG2RldkBmbWFjLnh5eiA8ZGV2QGZtYWMueHl6PsJ4BBAWCgAg
BQJenz9fBgsJBwgDAgQVCAoCBBYCAQACGQECGwMCHgEACgkQrh3ssBWEBAjJ
wQD8CpsBGzTyuP9HqSZNaah/JYurTqPI4jJNMjGh8+lgVNkA+gJlwWrw+hye
zOjFYAaQqoLIajeUhr7pZ4G8BtkYiVoBzjgEXp8/XxIKKwYBBAGXVQEFAQEH
QO1O851L5IAtXokQoQCgTUUnE/QQlt7/2BhHhrDl0c5KAwEIB8JhBBgWCAAJ
BQJenz9fAhsMAAoJEK4d7LAVhAQIwjIA/36pDmb/jDyFyBph8m/hOOubXX17
1d2tyeLi+O1ZsnCmAP4uyBO0DPH9Ee+1iy4lF5QMoClcyqLANxJc6EaiyTAx
Ag==
=NR3c
-----END PGP PUBLIC KEY BLOCK-----
                    </pre>
                </b-card>
            </b-collapse>
        </div>
        <hr />
        <h2>Credits</h2>
        <p>The app icon contains:</p>
        <div>
            Icons made by
            <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from
            <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
            <br />and
            <br />Icons made by
            <a
                href="https://www.flaticon.com/authors/kiranshastry"
                title="Kiranshastry"
            >Kiranshastry</a> from
            <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
        </div>
        <hr />
        <span>
            <small>xyz.fmac.gmcmap 0.2.0</small>
        </span>
    </b-container>
</template>

<script>
import { BButton, BCard, BCollapse, BContainer, VBToggle } from "bootstrap-vue"

export default {
    name: "About",
    components: {
        "b-button": BButton,
        "b-card": BCard,
        "b-collapse": BCollapse,
        "b-container": BContainer
    },
    directives: {
        "b-toggle": VBToggle
    }
}
</script>

<style lang="scss">
.pgp-key-card {
    font-size: 10px;
}
</style>
