<template>
    <div class="home">
        <l-map :zoom.sync="zoom" :center.sync="center" :options="mapOptions" class="position-absolute">
            <l-tile-layer :url="url" :attribution="attribution" />
            <l-control-scale position="bottomright" :maxWidth="200"></l-control-scale>
            <l-control position="bottomright" class="shadow-sm">
                <b-form-select
                    v-model="dataRange"
                    :disabled="reloading"
                    :options="dataRangeOptions"
                    @change="dataRangeChanged"
                    size="sm"
                >
                    <template v-slot:first>
                        <b-form-select-option :value="null" disabled>Range</b-form-select-option>
                    </template>
                </b-form-select>
            </l-control>
            <l-control position="bottomright" class="shadow-sm">
                <b-form-select
                    v-model="autoReloadSeconds"
                    :options="autoReloadOptions"
                    @change="autoReloadChanged"
                    size="sm"
                >
                    <template v-slot:first>
                        <b-form-select-option :value="null" disabled>Reload</b-form-select-option>
                    </template>
                </b-form-select>
            </l-control>
            <l-control position="bottomright" class="shadow-sm">
                <b-button
                    :disabled="reloading"
                    @click="reloadButtonClicked"
                    size="sm"
                    variant="secondary"
                >{{ reloading ? 'Loading…' : 'Reload' }}</b-button>
            </l-control>
            <l-control-zoom position="bottomright" />
            <l-marker
                v-for="(p, index) in points"
                :key="index"
                :lat-lng="[p.lat, p.lng]"
                @click="showInfo(p)"
            >
                <l-icon class="invisible">
                    <span
                        :style="getIconStyle(p)"
                        class="border border-dark font-weight-bold marker-icon position-relative rounded-circle text-monospace visible"
                    >{{ settings.show_cpm_values ? p.cpm : '' }}</span>
                </l-icon>
            </l-marker>
        </l-map>
        <b-card
            v-if="infoCardData"
            bg-variant="dark"
            text-variant="white"
            class="fixed-bottom info-card mb-3 mb-md-2 ml-2 shadow text-left text-monospace"
        >
            <b-button-close @click="closeInfo" text-variant="light"></b-button-close>
            <b-card-text>
                <b>CPM:</b>
                {{ infoCardData.cpm }} |
                <b>ACPM:</b>
                {{ infoCardData.acpm }}
                <br />
                <b>H:</b>
                <template v-if="infoCardData.eqDoseRate">{{ infoCardData.eqDoseRate }}</template>
                <template v-else>
                    <i>-?-</i>
                </template>
                <br />
                <b>Box:</b>
                <template v-if="infoCardData.box">{{ infoCardData.box }}</template>
                <template v-else>
                    <i>???</i>
                </template>
                <br />
                <b>Tube:</b>
                <template v-if="infoCardData.tube">{{ infoCardData.tube }}</template>
                <template v-else>
                    <i>???</i>
                </template>
                <br />
                <b>Geo:</b>
                {{ infoCardData.lat }}, {{ infoCardData.lng }}
                <br />
                <b>By:</b>
                <template v-if="infoCardData.by">{{ infoCardData.by }}</template>
                <template v-else>
                    <i>???</i>
                </template>
                <br />
                <b>On:</b>
                <template v-if="infoCardData.on">{{ infoCardData.on }}</template>
                <template v-else>
                    <i>-?-</i>
                </template>
            </b-card-text>
            <b-button
                v-if="infoCardData.contactParamID"
                :href="'https://www.gmcmap.com/historyData.asp?Param_ID=' + infoCardData.historyParamID"
                size="sm"
                class="mr-1"
            >History</b-button>
            <b-button
                v-if="infoCardData.historyParamID"
                :href="'https://www.gmcmap.com/contactMember.asp?param_ID=' + infoCardData.contactParamID"
                size="sm"
            >Contact</b-button>
        </b-card>
    </div>
</template>

<script>
import {
    BButton,
    BButtonClose,
    BCard,
    BCardText,
    BFormSelect,
    BFormSelectOption
} from 'bootstrap-vue'
import { Icon } from 'leaflet'
import {
    LControl,
    LControlScale,
    LControlZoom,
    LIcon,
    LMap,
    LMarker,
    LTileLayer
} from 'vue2-leaflet'
import { mapActions, mapMutations, mapState } from 'vuex'
import { fetchPoints } from '../api/resources'
import 'leaflet/dist/leaflet.css'

// Fix: https://vue2-leaflet.netlify.app/quickstart/#marker-icons-are-missing
delete Icon.Default.prototype._getIconUrl
Icon.Default.mergeOptions({
    iconRetinaUrl: require('leaflet/dist/images/marker-icon-2x.png'),
    iconUrl: require('leaflet/dist/images/marker-icon.png'),
    shadowUrl: require('leaflet/dist/images/marker-shadow.png'),
})

export default {
    name: "Home",
    components: {
        "b-button": BButton,
        "b-button-close": BButtonClose,
        "b-card": BCard,
        "b-card-text": BCardText,
        "b-form-select": BFormSelect,
        "b-form-select-option": BFormSelectOption,
        "l-control": LControl,
        "l-control-scale": LControlScale,
        "l-control-zoom": LControlZoom,
        "l-icon": LIcon,
        "l-map": LMap,
        "l-marker": LMarker,
        "l-tile-layer": LTileLayer
    },
    data () {
        return {
            attribution: `<a href="http://www.gqelectronicsllc.com/">GQ
Electronics, LLC</a> | &copy; <a href="http://osm.org/copyright">
OpenStreetMap</a> contributors`,
            autoReloadInterval: null,
            autoReloadOptions: [
                { value: 0, text: "Never" },
                { value: 30, text: "30s" },
                { value: 60, text: "1m" },
                { value: 300, text: "5m" },
                { value: 1200, text: "20m" },
                { value: 3600, text: "1h" }
            ],
            dataRangeOptions: [
                { value: 1, text: "Last day" },
                { value: 7, text: "Last week" },
                { value: 30, text: "Last month" },
                { value: 365, text: "Last year" },
                { value: 36500, text: "Any time" }
            ],
            fontSizes: ["0rem", "1.8rem", "1.2rem", "0.9rem", "0.7rem"],
            infoCardData: null,
            mapOptions: {
                zoomControl: false,
                zoomSnap: 0.1
            },
            reloading: false,
            url: "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png"
        }
    },
    computed: {
        ...mapState(['points', 'settings']),
        autoReloadSeconds: {
            get () { return this.$store.state.autoReloadSeconds },
            set (val) { this.$store.commit('setAutoReloadSeconds', val) }
        },
        center: {
            get () { return this.$store.state.savedCenter },
            set (val) { this.$store.commit('setSavedCenter', val) }
        },
        dataRange: {
            get () { return this.$store.state.dataRange },
            set (val) { this.$store.commit('setDataRange', val) }
        },
        zoom: {
            get () { return this.$store.state.savedZoom },
            set (val) { this.$store.commit('setSavedZoom', val) }
        }
    },
    methods: {
        ...mapMutations(['setPoints']),

        ...mapActions([]),

        reload () {
            this.clearAutoReloadInterval()
            this.reloading = true

            fetchPoints(this.dataRange)
                .then(res => {
                    this.setPoints(res)
                })
                .catch(e => {
                    console.error(e)
                })
                .finally(() => {
                    this.reloading = false
                    this.setAutoReloadInterval(this.autoReloadSeconds)
                })
        },

        reloadButtonClicked () {
            this.reload()
        },

        getIconStyle (p) {
            return (
                "background-color: hsl(" +
                Math.floor(
                    ((100 - Math.ceil(Math.min(p.cpm, 200) / 2)) * 120) / 100
                ) +
                ", 65%, 50%); font-size: " +
                this.fontSizes[Math.min(String(p.cpm).length, 4)] +
                ";"
            )
        },

        showInfo (p) {
            this.infoCardData = {
                acpm: p.acpm,
                box: String(p.box)
                    .replace(/<[^>]+>/g, "")
                    .replace(/&nbsp;/g, " "),
                by: p.by,
                contactParamID: p.contactParamID,
                cpm: p.cpm,
                eqDoseRate: p.eqDoseRate,
                historyParamID: p.historyParamID,
                lat: p.lat.toFixed(5),
                lng: p.lng.toFixed(5),
                on: p.on,
                tube: p.tube
            }
        },

        closeInfo () {
            this.infoCardData = null
        },

        dataRangeChanged () {
            this.reload()
        },

        setAutoReloadInterval (s) {
            if (!this.autoReloadInterval && this.autoReloadSeconds > 0) {
                this.autoReloadInterval = setInterval(this.reload, s * 1000)
            }
        },

        clearAutoReloadInterval () {
            if (this.autoReloadInterval) {
                clearInterval(this.autoReloadInterval)
                this.autoReloadInterval = null
            }
        },

        autoReloadChanged () {
            this.clearAutoReloadInterval()
            this.setAutoReloadInterval(this.autoReloadSeconds)
        }
    },

    mounted () {
        this.reload()
        this.setAutoReloadInterval(this.autoReloadSeconds)
    },

    beforeDestroy () {
        this.clearAutoReloadInterval()
    }
}
</script>

<style lang="scss">
@import "../sass/_config/_variables.scss";

.info-card {
    font-size: 0.8em;
    max-width: 300px;
    opacity: 0.95;
    width: 70vw;
}

.marker-icon {
    align-items: center;
    color: $DarkColor;
    display: inline-flex;
    font-size: 1.2rem;
    height: 2rem;
    justify-content: center;
    left: -1rem;
    width: 2rem;
    top: -1rem;
}
</style>
