<template>
    <b-container id="viewContainer">
        <h1>Settings</h1>
        <hr />
        <b-form-checkbox v-bind:checked="settings.show_cpm_values" @input="setSetting({ name: 'show_cpm_values', value: $event })" switch size="lg">Show CPM values</b-form-checkbox>
    </b-container>
</template>

<script>
import { BContainer, BFormCheckbox } from "bootstrap-vue"
import { mapState, mapMutations } from 'vuex'

export default {
    name: "Settings",
    components: {
        "b-container": BContainer,
        "b-form-checkbox": BFormCheckbox
    },
    directives: {
    },
    computed: {
        ...mapState(['settings'])
    },
    methods: {
        ...mapMutations(['setSetting'])
    }
}
</script>
