<template>
    <div id="app">
        <b-navbar id="navbar" fixed="top" toggleable="sm" type="light" variant="primary">
            <b-navbar-brand>GMC Map</b-navbar-brand>
            <b-navbar-nav>
                <b-nav-text class="mx-auto">[n:{{ nOfPoints }}|Md:{{ median }}]</b-nav-text>
            </b-navbar-nav>
            <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
            <b-collapse id="nav-collapse" is-nav>
                <b-navbar-nav>
                    <b-nav-item class="mx-auto" to="/">Map</b-nav-item>
                    <b-nav-item class="mx-auto" to="/about">About</b-nav-item>
                    <b-nav-item class="mx-auto" to="/settings">Settings</b-nav-item>
                </b-navbar-nav>
            </b-collapse>
        </b-navbar>
        <keep-alive include="Home" max="1">
            <router-view />
        </keep-alive>
    </div>
</template>

<script>
import {
    BCollapse,
    BNavbar,
    BNavbarBrand,
    BNavbarNav,
    BNavItem,
    BNavText,
    BNavbarToggle
} from "bootstrap-vue"
import { mapState } from 'vuex'

export default {
    name: "App",
    components: {
        "b-collapse": BCollapse,
        "b-navbar": BNavbar,
        "b-navbar-brand": BNavbarBrand,
        "b-navbar-nav": BNavbarNav,
        "b-nav-item": BNavItem,
        "b-nav-text": BNavText,
        "b-navbar-toggle": BNavbarToggle
    },
    computed: {
        ...mapState(['points']),
        nOfPoints () {
            return this.points.length
        },
        median () {
            let pp = this.points.map(p => p.cpm)
            if(!pp.length) {
                return 0
            }
            pp.sort((a, b) => a - b)
            var half = Math.floor(pp.length / 2.0)
            if (pp.length % 2) {
                return pp[half]
            }

            return Math.ceil((pp[half - 1] + pp[half]) / 2.0)
        }
    }
}
</script>

<style lang="scss">
@import "sass/main";

#navbar {
    border-bottom: 1px solid $SecondaryColor;
    font-weight: 600;
    opacity: 0.9;
}

#viewContainer {
    margin-top: 75px;
    min-height: 90vh;
}
</style>
